.filter__section {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}
.entry__admin {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding: 60px 10px 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	z-index: 1;
}
.entryuser__container {
	background-color: #ffffff;
	border: 1px solid #cbd5e0;
	color: #495057;
	padding: 20px 10px 20px 10px;
	height: calc(69% - 100px);
	margin-top: 5px;
	border-radius: 7px;
}
.entryuser__container .item__content {
	height: 100%;
	text-align: center;
}
.entryuser__container .entry__content {
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.entryuser-list__content {
	overflow-y: auto;
	box-sizing: border-box;
}
/* 스크롤바 custom */
.entryuser-list__content::-webkit-scrollbar {
	width: 10px;
}
.entryuser-list__content::-webkit-scrollbar-thumb {
	background-color: #607d8b;
	border-radius: 5px;
	background-clip: padding-box;
	border: 2px solid transparent;
}
.entryuser-list__content::-webkit-scrollbar-track {
	background-color: #cbd5e0;
	border-radius: 3px;
	box-shadow: inset 0px 0px 5px white;
}

.entryuser-list__item {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #cbd5e0;
}
.entryuser-list__item .item__content {
	flex: 1;
	height: 50px;
}
.entryuser-list__item .item__summary {
	display: flex;
	height: 100%;
	color: #999;
	line-height: 15px;
	letter-spacing: 0;
	align-items: center;
	justify-content: center;
}

.entryuser-list__item .entry__desc {
	color: #000;
	font-size: 10px;
	font-weight: 600;
	line-height: 22px;
	margin-right: 15px;
}
.check__entry-button {
	margin-top: 4px;
}
.emptyuser-list {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
/* 다크 모드 css  */
.entryuser__container.dark__mode {
	background-color: #333536;
	border: 1px solid #333536;
	color: #ffffff;
}
.entryuser__container.dark__mode .entry__desc {
	color: #ffffff;
}
