.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	min-width: 300px;
	/* box-shadow: 0 5px rgb(0 0 0 / 15%), 0 5px 20px rgb(0 0 0 / 15%); */
	box-shadow: -1px 13px 20px 3px rgb(0 0 0 / 13%);
	border-radius: 20px;
	background-color: #fff;
	min-height: 300px;
}
.login-card {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 20px;
}
.login-header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
.login__button {
	align-items: center;
}

.major-invalid {
	border-color: #f44336;
}
.error-message {
	text-align: center;
	padding-top: 20px;
	color: #f47b61;
}
.home-container {
	height: 100vh;
	background-color: #e3ebf6;
}
