.login-box {
	/* position: absolute;
	top: -525%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	min-width: 300px;
	box-shadow: -1px 13px 20px 3px rgb(0 0 0 / 13%);
	border-radius: 20px;
	background-color: #fff;
	min-height: 300px; */
	padding-top: 44px;
	padding-bottom: 32px;
}
.login-card {
	/* margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 20px; */
}
.login_loading {
	text-align: center;
	font-size: 20px;
	/* color: #ffffff; */
	margin-bottom: 20px;
}
.login__button {
	align-items: center;
}

.major-invalid {
	border-color: #f44336;
}
.error-message {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #f47b61;
}
.home-container {
	height: 100vh;
	background-color: #4a83e5;
	background-image: url("../../assets/upass-white.png");
	background-size: 100%;
	background-position: center;
	background-position: 50% 23%;
	background-repeat: no-repeat;
}
.home-container--loading {
	background-image: url("../../assets/First.png");
}
.home-container--loading-dark {
	background-image: url("../../assets/First-Dark.png");
}
.loading-indicator {
	position: absolute;
	top: 9%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.upass__button-info {
	color: black !important;
	text-align: right;
	font-size: 15px;
}

.upass-info__detail {
	text-align: center;
	font-weight: 200;
	font-size: 14px;
}
.upass-info__detail .upass-focus {
	font-size: 15.5px;
	font-weight: bold;
}

/* 다크모드 css */
.home-container.dark__mode {
	background-color: #333536;
}
