.card__content {
	padding-top: 60px;
	padding-bottom: 60px;
}
.card__wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}
.card__content .item__title {
	color: #607d8b;
	font-size: 24px;
	font-weight: 900;
	line-height: 30px;
	letter-spacing: -1.5px;
}
.wallet__content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding: 60px 10px 0;
	box-sizing: border-box;
	position: relative;
	list-style: none;
	z-index: 1;
}
.card__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}
.card__menu .tab__list {
	position: relative;
}
.card__button {
	position: absolute;
	top: 57px;
	right: 20px;
	padding: 14px 0px 0px 0px;
	font-size: 1.5vh;
	font-weight: normal;
	line-height: 30px;
}
.credit-card__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 190px;
	padding: 54px 30px 30px;
	background-color: #fff;
	border-radius: 15px;
	box-sizing: border-box;
	margin-bottom: 50px;
	opacity: 0.5;
	background-color: #13405b;
	color: #fff;
}
.credit-card__item.type1 {
	background-color: #8688bc;
}
.credit-card__item.type2 {
	background-color: #eb7777;
}
.credit-card__item.type3 {
	background-color: #7aa0da;
}
.card-delete__button {
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.swiper-slide-active .credit-card__item {
	box-shadow: 0px 20px 16px 6px rgb(0 0 0 / 13%);
	height: 210px;
	opacity: 1;
}
/* Galaxy Tab 1, 2, 3 */
@media screen and (min-device-width: 768px) and (max-device-height: 1280px) {
	.wallet__content {
		margin-top: -80px;
		padding: 80px 10px 0;
	}
	.wallet__content .card__content {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.wallet__content .card__wrapper {
		padding-bottom: 0px;
	}
	.swiper-slide-active .credit-card__item {
		height: 360px;
	}
	.credit-card__item {
		height: 310px;
	}
	.card-delete__button {
		margin-top: 20px;
	}
	.card__content .item__title {
		font-size: 40px;
	}
	.tab__list .p-button-label {
		font-size: 1.6rem;
	}
	.card-delete__button .p-button-label,
	.card-delete__button .pi {
		font-size: 1.6rem;
	}
}
/* Galaxy S8, S8+, S9, S10, S10+ S10 lite edge */
@media screen and (min-device-width: 360px) and (max-device-height: 740px) {
	.wallet__content {
		margin-top: -55px;
		padding: 55px 10px 0;
	}
	.wallet__content .card__content {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.wallet__content .card__wrapper {
		padding-bottom: 0px;
	}
	.swiper-slide-active .credit-card__item {
		height: 210px;
	}
	.credit-card__item {
		height: 190px;
	}
	.card-delete__button {
		margin-top: 20px;
	}
}
/* iPhone 6, 7, 8 */
@media screen and (min-device-width: 375px) and (max-device-height: 667px) {
	.wallet__content {
		margin-top: -55px;
		padding: 55px 10px 0;
	}
	.wallet__content .card__content {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.wallet__content .card__wrapper {
		padding-bottom: 0px;
	}
	.swiper-slide-active .credit-card__item {
		height: 180px;
	}
	.credit-card__item {
		height: 160px;
	}
	.card-delete__button {
		margin-top: 5px;
	}
}
/* Galaxy S6, S7, S7 edge */
@media screen and (min-device-width: 360px) and (max-device-height: 640px) {
	.wallet__content {
		margin-top: -50px;
		padding: 50px 10px 0;
	}
	.wallet__content .card__content {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.wallet__content .card__wrapper {
		padding-bottom: 0px;
	}
	.swiper-slide-active .credit-card__item {
		height: 180px;
	}
	.credit-card__item {
		height: 160px;
	}
	.card-delete__button {
		margin-top: 5px;
	}
}
/* 다크 모드 css */
.card__menu.dark__mode .item__title {
	color: #ffffff;
}
