.card__content {
	padding-top: 60px;
	padding-bottom: 60px;
	/* background-color: #5582f8; */
}
.card__content .item__title {
	/* padding: 0 30px 20px; */
	color: #607D8B;
	font-size: 24px;
	font-weight: 900;
	line-height: 30px;
	letter-spacing: -1.5px;
}
.wallet__content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding: 70px 20px 0;
	box-sizing: border-box;
	position: relative;
	list-style: none;
	z-index: 1;
}
.card__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	/* padding-left: 20px;
	padding-right: 20px; */
	padding-bottom: 10px;
}
.card__menu .tab__list {
	position: relative;
}

.card__button {
	position: absolute;
	top: 57px;
	right: 20px;
	padding: 14px 0px 0px 0px;
	font-size: 1.5vh;
	font-weight: normal;
	line-height: 30px;
}
.credit-card__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 210px;
	padding: 54px 30px 30px;
	background-color: #fff;
	border-radius: 15px;
	box-sizing: border-box;
}
