.reservation-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	position: relative;
	list-style: none;
	z-index: 1;
}
.cls-selected {
	background-color: #2196f3;
}
.cls-ra {
	background-color: #fff;
}
.cls-rb {
	background-color: gray;
}
.cls-fa {
	background-color: #fff;
	border: 2px solid pink !important;
}
.cls-fb {
	background-color: pink;
}
.cls-ma {
	background-color: #fff;
	border: 2px solid royalblue !important;
}
.cls-mb {
	background-color: royalblue;
}
