.reservation-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding: 60px 10px 0;
	box-sizing: border-box;
	position: relative;
	list-style: none;
	z-index: 1;
}
.reservation__table {
	margin-top: 10px;
}
.cls-selected {
	background-color: #607d8b;
}
.cls-ra {
	background-color: #fff;
}
.cls-rb {
	background-color: gray;
}
.cls-mb {
	background-color: #4a83e5;
}
.seat__box {
	width: 50px;
}
.seat {
	width: 30px;
	height: 30px;
	border: 1px solid #cbd5e0;
}
.select-seat {
	width: 30px;
	height: 30px;
	border: 1px solid #cbd5e0;
}
.seat__content {
	height: calc(50% - 80px);
}
.seat__select {
	background-color: #ffffff;
	border: 1px solid #cbd5e0;
	color: #495057;
	padding: 20px 10px 0px 10px;
	height: 100%;
	margin-top: 10px;
	border-radius: 7px;
}
.select__item-header {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 15px;
}
.select__item-body {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.select__item-footer {
	font-size: 12px;
	margin-top: 15px;
	text-align: center;
}
.list-group-item {
	margin-right: 15px;
}
.seat-box {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}
.seat__name {
	font-size: 12px;
}
/* Galaxy Tab 1, 2, 3 */
@media screen and (min-device-width: 768px) and (max-device-height: 1280px) {
	.reservation-content {
		margin-top: -80px;
		padding: 80px 10px 0;
	}
	.seat__box {
		width: 100px;
	}
	.seat-box .seat__name {
		font-size: 15px;
	}
	.seat {
		width: 40px;
		height: 40px;
	}
	.seat__content {
		height: calc(42% - 80px);
	}
	.select-seat {
		width: 40px;
		height: 40px;
		border: 1px solid #cbd5e0;
	}
	.select__item-footer {
		font-size: 15px;
	}
}
/* Galaxy S8, S8+, S9, S10, S10+ S10 lite edge */
@media screen and (min-device-width: 360px) and (max-device-height: 740px) {
	.reservation-content {
		margin-top: -55px;
		padding: 55px 10px 0;
	}
	.seat {
		width: 25px;
		height: 25px;
	}
	.seat__content {
		height: calc(60% - 80px);
	}
	.select-seat {
		width: 25px;
		height: 25px;
		border: 1px solid #cbd5e0;
	}
}
/* iphone 6, 7, 8 */
@media screen and (min-device-width: 375px) and (max-device-height: 667px) {
	.reservation-content {
		margin-top: -55px;
		padding: 55px 10px 0;
	}
	.seat {
		width: 20px;
		height: 20px;
	}
	.seat__content {
		height: calc(65% - 80px);
	}
	.select-seat {
		width: 20px;
		height: 20px;
		border: 1px solid #cbd5e0;
	}
}
/* Galaxy S6, S7, S7 edge */
@media screen and (min-device-width: 360px) and (max-device-height: 640px) {
	.reservation-content {
		margin-top: -50px;
		padding: 50px 10px 0;
	}
	.seat {
		width: 20px;
		height: 20px;
	}
	.seat__content {
		height: calc(68% - 80px);
	}
	.select-seat {
		width: 20px;
		height: 20px;
		border: 1px solid #cbd5e0;
	}
}
/* 다크모드 css  */
.seat__box.dark__mode .cls-ra,
.seat__select.dark__mode .cls-ra,
.seat__select.dark__mode {
	background-color: #333536;
}
.seat__select.dark__mode {
	border: 1px solid #333536;
}
.seat__select.dark__mode .select__item-header,
.seat__select.dark__mode .select__item-footer,
.seat__select.dark__mode .seat__name {
	color: #ffffff;
}
