.student-content {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	height: 100vh;
	margin-top: -60px;
	padding: 60px 10px 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	z-index: 1;
}
.student__id-content {
	height: 60%;
}
.card-nav {
	display: flex;
	align-items: center;
	color: #000;
	font-size: 12px;
}

.student-id__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: calc(100vw - 100px);
	height: 64px;
	color: #fff;
	border: 1px solid #5582f8;
	border-radius: 70px;
	background-color: #5582f8;
}
.student-info {
	height: 100%;
	/* align-items: center; */
	text-align: center;
}
.student-card {
	margin: auto;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	box-sizing: border-box;
	width: 287px;
	height: 453px; */
}
.student-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	/* padding-top: 5vh; */
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.student-card .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* min-height: 375px;
	padding: 42px 20px 20px; */
	padding-top: 42px;
	background: #fff;
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 20px; */
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
.student-card__item {
	position: relative;
}
.student-card__item .item__univ {
	/* color: #4a83e5; */
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	margin-bottom: 20px;
}
.student-card__item .item__img {
	margin-top: 10px;
	margin: 0 auto;
	/* color: #4a83e5; */
	margin-bottom: 20px;
	border-radius: 200px;
	width: 160px;
	height: 160px;
	border: 2px solid #d2d0d0;
	/* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5); */
}

.student__img {
	border-radius: 200px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
}
.student-card__item .item__detail {
	margin-top: 10px;
	font-weight: 600;
	/* color: #4a83e5; */
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -1px;
}

.student__button {
	margin: 0 auto;
	margin-top: 10px;
}

/*did 모달*/
.did-modal {
	height: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}
.did-card {
	margin: auto;
	display: flex;
	flex-direction: column;
}
.did-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.did-card .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 42px;
	background: #fff;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
.did-card__item {
	position: relative;
}
.did-card__item .item__title {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	margin-bottom: 20px;
}
.did-card__item .item__detail {
	text-align: left;
	margin-top: 10px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -1px;
}
.did-issued {
	margin-top: 70px;
}
