.student-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding: 60px 10px 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	z-index: 1;
}
.student__id-content {
	height: 60%;
}
.card-nav {
	display: flex;
	align-items: center;
	color: #000;
	font-size: 12px;
}
.student-id__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: calc(100vw - 100px);
	height: 64px;
	color: #fff;
	border: 1px solid #5582f8;
	border-radius: 70px;
	background-color: #5582f8;
}
.student-info {
	height: 100%;
	text-align: center;
}
.student-card {
	margin: auto;
	display: flex;
	flex-direction: column;
}
.student-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.student-card .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 42px;
	background: #fff;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
.student-card__item {
	position: relative;
}
.student-card__item .item__univ {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	line-height: 38px;
	margin-bottom: 20px;
}
.student-card__item .item__img {
	margin-top: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 200px;
	width: 160px;
	height: 160px;
	border: 2px solid #d2d0d0;
}
.student__img {
	border-radius: 200px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
}
.student-card__item .item__detail {
	margin-top: 10px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -1px;
}
.student__button {
	margin: 0 auto;
	margin-top: 10px;
}
.focus__color {
	color: #2196f3;
}
.did-issued {
	margin-top: 70px;
}
@media (min-height: 630px) and (max-height: 780px) {
	.student-content {
		margin-top: -70px;
	}
	.student__id-content {
		height: 62%;
	}
	.student-card__item .item__img {
		width: 100px;
		height: 100px;
		margin-bottom: 17px;
	}
	.student-card__item .item__detail {
		margin-top: 8px;
		font-size: 12px;
	}
	.student-card__item .item__univ {
		font-size: 22px;
		margin-bottom: 17px;
	}
	.student-card .box {
		padding-top: 36px;
	}
}
/* 다크모드 css */
.student-wrapper .box.dark__mode {
	background: #333536;
}
.box.dark__mode .student-card__item {
	color: #ffffff;
}
