.password-container {
	overflow: hidden;
}
.warning-info {
	bottom: 50px;
	font-size: 5px;
	color: #ff4b4b;
	font-weight: bold;
	text-align: center;
}
.warning-info .text {
	margin-left: 4px;
	display: inline-block;
}
.password-header {
	padding: 10px;
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 40px;
}
.password-help {
	font-size: 16px;
	letter-spacing: -1px;
}
.password__wrong {
	margin-top: 4px;
	margin-bottom: 7px;
	color: #ff4b4b;
	min-height: 49px;
}
.inputter__flex {
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.password-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 70px 10px 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	z-index: 100;
	background-color: #fff;
	align-items: center;
}
.password-info {
	height: 100%;
	text-align: center;
}
.password-inputter {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	height: 390px;
}
.password-wrapper {
	position: absolute;
	width: 100%;
	padding-top: 5vh;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.password- .num-button__flex {
	vertical-align: middle;
	width: 138px;
	height: 24%;
	line-height: 100%;
	border: 1px solid;
	overflow: hidden;
	position: relative;
}
.num-button__flex--active {
	color: #2196f3 !important;
}
.submit-button {
	-webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
	-moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
	-ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
	-o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
	transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
	color: #2c3e50;
}
.submit-button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
.spread-effect {
	border: 0 solid;
	outline: 1px solid rgba(255, 255, 255, 0.5);
	-webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.spread-effect:hover {
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
}
.fantasy-font__2_3rem {
	font-size: 2.3rem;
	padding: 10px;
	width: 33.3%;
	color: #2c3e50;
}
.fantasy-font__2_3rem--alpha {
	font-size: 1.9rem;
	padding: 10px;
	width: 14.2%;
	color: #2c3e50;
}
.p-ripple.purple .p-ink {
	background: rgba(256, 39, 176, 0.3);
}
/* 다크모드 css */
.password-content.dark__mode {
	background-color: #333536;
	color: #ffffff;
}
.password-content.dark__mode .fantasy-font__2_3rem,
.password-content.dark__mode .fantasy-font__2_3rem--alpha {
	color: #ffffff;
}
.password-content.dark__mode .spread-effect {
	outline: 1px solid #333536;
}
