.setting__content {
	display: flex;
	height: 100vh;
	/* padding: 20px 0; */
	box-sizing: border-box;
}
.home__title {
	/* margin-bottom: 20px; */
	padding-right: 20px;
	padding-left: 20px;
	font-size: 24px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: -1.5px;
}

.accordian-item {
	padding: 10px;
	font-size: 13.5px;
}
.blank__content {
	padding: 20px;
}
.profile__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	padding: 20px 10px 20px 10px;
	border-radius: 4px;
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
}
.profile__content .img__content {
	margin-right: 4px;
}
.profile__content .student__img {
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;
	border-radius: 50%;
	/* border-radius: 20px; */

	border: 1px solid #495057;
}
.profile__content .student__name,
.profile__content .student__id,
.profile__content .student__major {
	font-size: 12px;
}
.logout__button {
	position: fixed;
	margin: 0 auto;
	bottom: 40px;
	margin-left: 20px;
}
.logout__button .logout {
	align-items: center;
}
.dark__mode-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dark__mode-button .item-content {
	margin-right: 13px;
	font-size: 13.5px;
}

.sidebar_content {
	margin-top: 40px;
}
.password__backup-detail {
	text-align: center;
	font-weight: 200;
	font-size: 14px;
}
.password__backup-detail .detail__title {
	font-size: 16px;
	font-weight: bold;
}
.password__backup-detail .privacy__error {
	font-size: 13px;
	font-weight: bold;
	color: #ff4b4b;
}
.privacy__error .error__text {
	margin-top: 10px;
}
/* 다크 모드  */
.dark__mode .profile__content {
	background: #495057;
	border: 1px solid #495057;
}
.dark__mode .profile__content .student__img {
	border: 1px solid #ffffff;
}
.dark__mode .profile__content .student__img,
.dark__mode .profile__content .student__id,
.dark__mode .profile__content .student__name,
.dark__mode .profile__content .student__major {
	color: #ffffff;
}
