.setting__content {
	display: flex;
	height: 100vh;
	/* padding: 20px 0; */
	box-sizing: border-box;
}
.home__title {
	/* margin-bottom: 20px; */
	padding-right: 20px;
	padding-left: 20px;
	font-size: 24px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: -1.5px;
}

.accordian-item {
	padding: 10px;
}
.blank__content {
	padding: 20px;
}
.profile__content {
	display: block;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: #f8f9fa;
}
.profile__content .student__img {
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;
	border-radius: 50%;
	border: 1px solid #495057;
}
.profile__content .student__name {
	font-size: 15px;
}
.profile__content .student__id {
	font-size: 15px;
}
.profile__content .student__major {
	font-size: 15px;
}
.logout__button {
	position: fixed;
	margin: 0 auto;
	bottom: 40px;
	margin-left: 20px;
}
.logout__button .logout {
	align-items: center;
}

.sidebar_content {
	margin-top: 40px;
}

/* 다크 모드  */

.dark__mode .profile__content {
	background: #495057;
}
.dark__mode .profile__content .student__img {
	border: 1px solid #ffffff;
}
.dark__mode .profile__content .student__img,
.dark__mode .profile__content .student__id,
.dark__mode .profile__content .student__name,
.dark__mode .profile__content .student__major {
	color: #ffffff;
}
