.admin__setting-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding: 60px 10px 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	z-index: 1;
}
.setting__select {
	background-color: #ffffff;
	border: 1px solid #cbd5e0;
	color: #495057;
	padding: 25px;
	height: calc(60% - 60px);
	margin-top: 10px;
	border-radius: 7px;
}
.setting__select .item__content {
	height: 100%;
	text-align: center;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.setting__select .schedule__date {
	font-weight: bold;
	font-size: 18px;
	height: 50px;
	line-height: 70px;
	margin-bottom: 25px;
}
.select__list {
	padding-left: 8px;
	padding-top: 5px;
	overflow-y: auto;
	box-sizing: border-box;
}
/* 스크롤바 custom */
.select__list::-webkit-scrollbar {
	width: 7px;
}
.select__list::-webkit-scrollbar-thumb {
	background-color: #607d8b;
	border-radius: 5px;
	background-clip: padding-box;
	border: 2px solid transparent;
}
.select__list::-webkit-scrollbar-track {
	background-color: #cbd5e0;
	border-radius: 3px;
	box-shadow: inset 0px 0px 5px white;
}
.setting-confirm__button {
	margin: 0 auto;
	margin-top: 40px;
}
/* 다크 모드 css */
.setting__select.dark__mode {
	background-color: #333536;
	border: 1px solid #333536;
	color: #ffffff;
}
