.loading-indicator {
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.scan-confirmation {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.8);

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.qr-content {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	height: 100vh;
	margin-top: -60px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	/* z-index: 1; */
}
.conver__button {
	position: absolute;
	bottom: 40px;
	right: 32px;
	z-index: 10;
}
.close__button {
	position: absolute;
	top: 40px;
	left: 32px;
	z-index: 10;
}
.qr-stream-wrapper {
	height: 100vh !important;
	width: 100vw !important;
}
.loading-indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.stream {
	margin: auto;
}
.frame {
	border-style: solid;
	border-width: 2px;
	border-color: red;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
}
.validation-success,
.validation-failure,
.validation-pending {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-weight: bold;
	font-size: 1.4rem;
	padding: 10px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.validation-success {
	color: green;
}
.validation-failure {
	color: red;
}

.camera-turn {
	/* background-image: url("../../assets/camera.png"); */
	/* background: #2196f3; */
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.conver__button {
	display: block;
	width: 45px;
	height: 45px;
	/* margin-right: 16px; */
	background-color: #2196f3;
	border: 1px solid #2196f3;
	border-radius: 3px;
	flex: none;
}
.conver__button::before {
	background-image: url("../../assets/camera2.png");

	content: "";
	display: block;
	width: 24px;
	height: 24px;
	margin: 10px;
	background-repeat: no-repeat;
	background-size: 100%;
}
