.loading-indicator-qr {
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
}
.scan-confirmation {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.qr-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
}
.conver__button {
	position: absolute;
	bottom: 40px;
	right: 32px;
	z-index: 10;
}
.close__button {
	position: absolute;
	top: 30px;
	left: 25px;
	z-index: 10;
}
.qr-stream-wrapper {
	height: 100vh !important;
	width: 100vw !important;
}
.loading-indicator-qr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.stream {
	margin: auto;
}
.frame {
	height: 345px;
	width: 345px;
	position: absolute;
	top: 0px;
	bottom: 10%;
	right: 0px;
	left: 0px;
	margin: auto;
	color: #ff4b4b;
}
.frame .center__box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.frame .left_top-box {
	position: absolute;
	border-style: solid;
	border-width: 5px;
	border-bottom: none;
	border-right: none;
	border-top-left-radius: 10px;
	width: 40px;
	height: 40px;
}
.frame .right_top-box {
	position: absolute;
	right: 0;
	border-style: solid;
	border-width: 5px;
	border-bottom: none;
	border-left: none;
	border-top-right-radius: 10px;
	width: 40px;
	height: 40px;
}
.frame .left_bottom-box {
	position: absolute;
	bottom: 0;
	border-style: solid;
	border-width: 5px;
	border-top: none;
	border-right: none;
	border-bottom-left-radius: 10px;
	width: 40px;
	height: 40px;
}
.frame .right_bottom-box {
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 5px;
	border-top: none;
	border-left: none;
	border-bottom-right-radius: 10px;
	width: 40px;
	height: 40px;
}
.QR_title {
	position: absolute;
	top: 50px;
	left: 50%;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	transform: translate(-50%, -50%);
}
.QR_descirpt {
	position: absolute;
	bottom: 15%;
	left: 50%;
	width: max-content;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 14px;
	color: #ffffff;
}
.QR_descirpt .focus {
	font-weight: bold;
}

.validation-success,
.validation-failure,
.validation-pending {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(6 6 6 / 80%);
	text-align: center;
	font-weight: bold;
	font-size: 1.4rem;
	padding: 10px;
	display: flex;
	color: #4a83e5;
	flex-flow: column nowrap;
	justify-content: center;
}
.validation-success {
	color: #4a83e5;
}
.camera-turn {
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.switch__button {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	z-index: 20;
	display: flex;
	background-color: #4a83e5;
	text-align: center;
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 7px 7px 0 0;
}
.switch__button::after {
	background-image: url("../../images/Camera/switch_camera.png");
	margin-left: 20px;
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.warning-info__detail {
	text-align: center;
	font-weight: 200;
	font-size: 16px;
}
.warning-info__detail .focus {
	color: #4a83e5;
	font-weight: bold;
}
@media (min-height: 640px) and (max-height: 780px) {
	.frame {
		height: 295px;
		width: 295px;
	}
}
