.QR-Verification {
	/* width: 100%; */
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	/* width: 287px; */
}
.QR-Verification .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* min-height: 300px; */
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
.QR-card {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	/* width: 287px; */
	/* height: 453px; */
}
.QR-wrapper {
	position: relative;
	width: 100%;
	/* height: 100%; */
	padding-top: 5vh;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.QR-Verification .qr-card__item {
	position: relative;
}
.qr-card__item .item__code {
	position: relative;
	text-align: center;
	margin: 0 auto;
	color: #000;
	padding: 10px;
	/* border-radius: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.05); */
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% auto;
}
.qr-card__item .item__refresh {
	opacity: 0.4;
}
.refresh__button {
	opacity: 1;
	position: absolute;
	top: 39%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.qr-card__item .item__desc {
	margin-bottom: 20px;
	color: #666;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -1px;
	text-align: center;
}
.qr-card__item .item__temp {
	margin-top: 20px;
	color: #666;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -1px;
	text-align: center;
}
.qr-card__item .item__time {
	margin-top: 20px;
	color: #666;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -1px;
	text-align: center;
}
.qr-card__item .time__sec {
	color: #5582f8;
	margin-top: 10px;
	font-size: 40px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: -1px;
	text-align: center;
}

.qr-verification__button {
	margin-top: 20px;
}
