.top-nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 50;
	justify-content: space-between;
	height: 60px;
}
.unset__zindex .top-nav {
	z-index: unset;
}
.top-nav,
.top-nav .nav__button {
	display: flex;
	align-items: center;
}
.top-nav .nav__button {
	width: 60px;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: #ccc;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.5px;
	position: absolute;
	right: 5%;
}
.top-nav .nav__login {
	position: absolute;
	right: 20%;
}
.top-nav .nav__icon {
	display: block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	color: transparent;
	background-size: 100%;
}
.top-nav--active {
	background-color: #fff;
	border-bottom: 1px solid #e3e3e3;
}
.top-nav .nav__button--active {
	color: #5582f8;
}
.header__nav {
	width: 60%;
	position: absolute;
	left: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform: translateX(-50%);
	transition: all 0.1s;
	opacity: 0;
}
.top-nav--active .header__nav {
	opacity: 1;
}
.header__nav .header__title2 {
	font-size: 16px;
	font-weight: bold;
}
.header__title1 {
	background-image: url("../../images/Logo/upass.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
}
@media (min-height: 630px) and (max-height: 780px) {
	.top-nav {
		height: 50px;
	}
}
/*다크 모드 css*/
.top-nav--active.dark__mode {
	background-color: #333536;
	color: #ffffff;
}
