.bottom-nav {
	background-color: #fff;
	padding-right: 10px;
	padding-left: 10px;
	height: 80px;
	font-size: 12px;
	color: #424347;
}
.footer--view {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: space-around;
	border-top: 1px solid #eee;
	height: 13vh;
	z-index: 20;
	display: flex;
	background-color: #fff;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0 0 5px rgb(0 0 0 / 5%), 0 5px 20px rgb(0 0 0 / 5%);
	-webkit-transition: bottom 0.2s ease-in-out;
	-o-transition: bottom 0.2s ease-in-out;
	transition: bottom 0.2s ease-in-out;
}
.footer-btn--active {
	font-size: 20px;
	color: #4a83e5;
}
.p-button-text--active {
	color: #4a83e5 !important;
}
.p-button-font--size {
	font-size: 0.7rem !important;
}
/*다크 모드 css*/
.bottom-nav.dark__mode {
	background-color: #333536;
	border-top: 1px solid #333536;
}
