.bottom-nav {
	background-color: #fff;
	padding-right: 23px;
	padding-left: 23px;
	height: 80px;
	font-size: 12px;
	color: #424347;
}
.image {
	display: block;
	margin: auto;
}
.footer--view {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: space-between;
	border-top: 1px solid #eee;
	height: 13vh;
	z-index: 20;
	display: flex;
	background-color: #fff;
	border-radius: 20px 20px 0px 0px;
	-webkit-transition: bottom 0.2s ease-in-out;
	-o-transition: bottom 0.2s ease-in-out;
	transition: bottom 0.2s ease-in-out;
}
.footer-btn--active {
	font-size: 20px;
	color: #5582f8;
}
