.login__form-box {
	padding-top: 20px;
}
.login-header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
.login__button {
	align-items: center;
}
.login__form-container .loadpassword__button {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-top: 80px;
}
.loadpassword__button .border__none-refresh {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
.major-invalid {
	border-color: #f44336;
}
.error-message {
	text-align: center;
	padding-top: 20px;
	color: #f47b61;
}
.login__form-container {
	height: 100vh;
	background-color: #4a83e5;
	background-image: url("../../images/Logo/upass-white.png");
	background-size: 100%;
	background-position: center;
	background-position: 50% 23%;
	background-repeat: no-repeat;
}
.studentId {
	font-weight: bold;
}
.did-issued {
	margin-top: 20px;
}
.login__form-button {
	margin-top: 20px;
}
.did-issued.v-enter-from .did-issued.v-leave-to {
	transform: translate3d(0, -200%, 0);
}
.did-issued.v-enter-active .did-issued.v-leave-active {
	transition: transform all 3s, background-color 1s;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.password-warning__detail,
.password-finding__detail {
	text-align: center;
	font-weight: 200;
	font-size: 14px;
}
.password-warning__detail .password-focus {
	font-size: 15.5px;
	font-weight: bold;
	color: #ff4b4b;
	display: flex;
	justify-content: center;
	align-items: center;
}
.password-finding__detail .detail__title {
	font-size: 20px;
	font-weight: bold;
}
.password-finding__detail .password__text {
	letter-spacing: 15px;
	text-indent: 15px;
	font-weight: bold;
	font-size: 23px;
	text-align: center;
}
.loading__overlay-loginForm {
	overflow: scroll;
	height: 100vh;
	box-sizing: border-box;
	position: fixed;
	background-color: #4a4343c7;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1010;
}
.loading__overlay-loginForm .loading__progressbar {
	position: absolute;
	top: 34%;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.loading__progressbar .loginForm_loading {
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
/* 다크모드 css */
.login__form-container.dark__mode {
	background-color: #333536;
}
