.login__form-box {
	/* position: absolute;
	top: -525%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	min-width: 300px;
	box-shadow: -1px 13px 20px 3px rgb(0 0 0 / 13%);
	border-radius: 20px;
	background-color: #fff;
	min-height: 300px; */
	padding-top: 20px;
}
.login-header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
.login__button {
	align-items: center;
}

.major-invalid {
	border-color: #f44336;
}
.error-message {
	text-align: center;
	padding-top: 20px;
	color: #f47b61;
}
.login__Form-container {
	height: 100vh;
	background-color: #4a83e5;
	background-image: url("../../assets/upass-white.png");
	/* background-image: url("../../assets/First.png"); */

	background-size: 100%;
	background-position: center;
	background-position: 50% 23%;
	background-repeat: no-repeat;
}
.studentId {
	font-weight: bold;
}
.did-issued {
	margin-top: 20px;
	/* animation: fadein 1s; */
}
.did-issued.v-enter-from .did-issued.v-leave-to {
	transform: translate3d(0, -200%, 0);
}
.did-issued.v-enter-active .did-issued.v-leave-active {
	transition: transform all 3s, background-color 1s;
}
.password-warning__detail {
	text-align: center;
	font-weight: 200;
	font-size: 14px;
}
.password-warning__detail .password-focus {
	font-size: 15.5px;
	font-weight: bold;
	color: #ff4b4b;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes fadein {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
