.calendar__content {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	height: 100vh;
	margin-top: -60px;
	padding: 70px 15px 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	z-index: 1;
}

.schedule__content {
	background-color: #ffffff;
	border: 1px solid #cbd5e0;
	color: #495057;
	/* padding: 0 1.5rem 2rem 1.5rem; */
	padding: 20px;
	height: calc(50% - 60px);
	margin-top: 10px;
	border-radius: 7px;
}
.schedule__content .item__content {
	height: 100%;
	/* align-items: center; */
	text-align: center;
}
.schedule__content .entry__content {
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.schedule__content .schedule__date {
	font-weight: bold;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
}
.schedule__content .refresh__button {
	position: absolute;
	left: unset;
	right: 10%;
	top: unset;
	transform: unset;
}
.refresh__button .border__none-refresh {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}

.entry-list__content {
	overflow: scroll;
	box-sizing: border-box;
	-ms-overflow-style: none;
}
.entry-list__item {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #cbd5e0;
}

/* empty */
.entry-empty__list {
	overflow: scroll;
	box-sizing: border-box;
	-ms-overflow-style: none;
}
.empty-list__item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty-list__item .item__content {
	flex: 1;
	height: 50px;
}
.empty-list__item .item__summary {
	display: flex;
	height: 100%;
	color: #607d8b;
	line-height: 15px;
	letter-spacing: 0;
	align-items: center;
	justify-content: center;
}
.empty-list__item .empty__desc {
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -1px;
}

.entry-list__item .item__content {
	flex: 1;
	height: 50px;
}
.entry-list__item .item__summary {
	display: flex;
	height: 100%;
	color: #999;
	line-height: 15px;
	letter-spacing: 0;
	align-items: center;
	justify-content: center;
}
.entry-list__item .class__room {
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.5px;
}

.entry-list__item .entry__time {
	color: #000;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	margin-right: 15px;
}

.loading__overlay {
	overflow: scroll;
	height: 100vh;
	box-sizing: border-box;
	position: fixed;
	background-color: #4a4343c7;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
}
.loading__progressbar {
	position: absolute;
	top: 34%;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.loading__progressbar .calendar_loading {
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

/* 다크 모드 */
.schedule__content.dark__mode {
	background-color: #333536;
	border: 1px solid #e3e3e3;
}
.schedule__content.dark__mode .schedule__date,
.entry-list__content.dark__mode .entry__time,
.entry-list__content.dark__mode .class__room,
.entry-empty__list.dark__mode .empty__desc {
	color: #ffffff;
}
