.calendar__content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: -60px;
	padding: 70px 15px 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	z-index: 1;
}
.schedule__content {
	background-color: #ffffff;
	border: 1px solid #cbd5e0;
	color: #495057;
	padding: 20px 10px 20px 10px;
	height: calc(54% - 60px);
	margin-top: 10px;
	border-radius: 7px;
}
.schedule__content .item__content {
	height: 100%;
	text-align: center;
}
.schedule__content .entry__content {
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.schedule__content .schedule__date {
	font-weight: bold;
	font-size: 18px;
	height: 50px;
	line-height: 70px;
	margin-bottom: 25px;
}
.schedule__content .refresh__button {
	position: absolute;
	left: unset;
	right: 8%;
	top: unset;
	transform: unset;
}
.refresh__button .border__none-refresh {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
.refresh__button .load__text {
	font-size: 11px;
	color: #495057;
	padding-bottom: 4px;
	margin-top: -3px;
	font-weight: 700;
}
.schedule__content .map__button {
	position: absolute;
	left: unset;
	left: 8%;
	top: unset;
	transform: unset;
}
.map__button .border__none-map {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
.map__button .map__text {
	font-size: 11px;
	color: #495057;
	padding-bottom: 4px;
	margin-top: -3px;
	font-weight: 700;
}
.entry-list__content {
	overflow-y: auto;
	box-sizing: border-box;
}

/* 스크롤바 custom */
.entry-list__content::-webkit-scrollbar {
	width: 7px;
}
.entry-list__content::-webkit-scrollbar-thumb {
	background-color: #607d8b;
	border-radius: 5px;
	background-clip: padding-box;
	border: 2px solid transparent;
}
.entry-list__content::-webkit-scrollbar-track {
	background-color: #cbd5e0;
	border-radius: 3px;
	box-shadow: inset 0px 0px 5px white;
}
.entry-list__item {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #cbd5e0;
}

/* empty */
.entry-empty__list {
	overflow-y: auto;
	box-sizing: border-box;
}
.empty-list__item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.empty-list__item .item__content {
	flex: 1;
	height: 50px;
}
.empty-list__item .item__summary {
	display: flex;
	height: 100%;
	color: #607d8b;
	line-height: 15px;
	letter-spacing: 0;
	align-items: center;
	justify-content: center;
}
.empty-list__item .empty__desc {
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -1px;
}
.entry-list__item .item__content {
	flex: 1;
	height: 50px;
}
.entry-list__item .item__summary {
	display: flex;
	height: 100%;
	color: #999;
	line-height: 15px;
	letter-spacing: 0;
	align-items: center;
	justify-content: center;
}
.entry-list__item .class__room {
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.5px;
}
.entry-list__item .entry__time {
	color: #000;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	margin-right: 15px;
}
.loading__overlay {
	overflow: scroll;
	height: 100vh;
	box-sizing: border-box;
	position: fixed;
	background-color: #4a4343c7;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
}
.loading__progressbar {
	position: absolute;
	top: 34%;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.loading__progressbar .calendar_loading {
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
.student__button {
	margin: 0 auto;
	margin-top: 10px;
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
	.calendar__content {
		margin-top: -70px;
	}
	.schedule__content {
		height: calc(55% - 60px);
	}
	.schedule__content .schedule__date {
		height: 44px;
		line-height: 30px;
		margin-bottom: 2px;
		font-size: 16px;
	}

	.empty-list__item .empty__desc {
		font-size: 13px;
	}
	.refresh__button .load__text,
	.map__button .map__text {
		font-size: 10px;
	}
	.calendar__content .vc-header {
		padding: 7px 13px 0px 13px;
	}
	.calendar__content .vc-title {
		font-size: var(--text-sm);
	}
	.calendar__content .vc-weeks {
		padding: 3px;
	}
	.vc-highlight {
		width: 24px !important;
		height: 24px !important;
	}
	.calendar__content .vc-weekday,
	.calendar__content .vc-day-content {
		font-size: 11px;
	}
	.calendar__content .vc-day {
		min-height: 24px;
	}
	.calendar__content .vc-day-content {
		height: 24px;
		line-height: 24px;
	}
	.calendar__content .vc-bars {
		width: 59%;
	}
	.entry-list__item .entry__time,
	.entry-list__item .class__room {
		font-size: 13px;
	}
}
/* 다크 모드 */
.schedule__content.dark__mode {
	background-color: #333536;
	border: 1px solid #333536;
}
.schedule__content.dark__mode .schedule__date,
.schedule__content.dark__mode .load__text,
.schedule__content.dark__mode .map__text,
.entry-list__content.dark__mode .entry__time,
.entry-list__content.dark__mode .class__room,
.entry-empty__list.dark__mode .empty__desc {
	color: #ffffff;
}
