.calendar__content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
    margin-top: -60px;
    padding: 70px 15px 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    z-index: 1;
}

.schedule__content {
	background: #ffffff;
	color: #495057;
	/* padding: 0 1.5rem 2rem 1.5rem; */
	padding:30px;
	border: 1px solid var(--gray-400);
	height:  calc(50% - 60px);
			margin-top: 10px;

}
.schedule__content .item__content {
	height: 100%;
	/* align-items: center; */
	text-align: center;
}
